MONGODB_URI=mongodb+srv://RJRamesh__:Ramesh@8209@cluster0vca.6jrrwsk.mongodb.net/?appName=Cluster0vca
JWT_SECRET=mysecretkey123
ADMIN_ACCESS_CODE=admin123
DEMO_STUDENT_NAME=Ankit Sharma
DEMO_STUDENT_EMAIL=student@vinayakacademy.in
DEMO_STUDENT_MOBILE=9876543210
DEMO_STUDENT_PASSWORD=student123
DEMO_ADMIN_NAME=Admin User
DEMO_ADMIN_EMAIL=admin@vinayakacademy.in
DEMO_ADMIN_MOBILE=9998887776
DEMO_ADMIN_PASSWORD=admin12345
